/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url("src/img/fondo.avif");
    color: white;
    padding: 1rem;
    text-align: center;
}
.fix {
    position: fixed; /* Fija el header en la parte superior de la página */
    top: 0; /* Lo coloca en la parte superior */
    left: 0;
    width: 100%; /* Hace que el header ocupe todo el ancho de la página */
    /* background-color: #fff; Color de fondo del header */
     z-index: 1000; /*Asegura que el header esté sobre otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
    background: transparent fixed;
    font-weight: bold;

    /* margin-bottom: 10px; */
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    /* background-color: red; */
    background-color:lightgray;
}

.contenido {
    flex: 3;
    padding: 1rem;
    /* background-color: blue; */
    border-style: dashed;
}

.sidebar {

    flex: 0.5;
    padding: 1rem;
    background-color: white;
    background-image: url("src/img/fondo.avif");
}

footer {
    background-image: url("src/img/fondo.avif");
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    /* width: 100%; */
    bottom: 0;
    font-weight: bold;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        align-items: center;
    }

    main {
        flex-direction: column;
    }

    .contenido,
    .sidebar {
        flex: 1;
    }
}