/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("src/img/fondo.avif");
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
    background: transparent fixed;
    font-weight: bold;

    /* margin-bottom: 10px; */
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: red;
}

.contenido {
    flex: 3;
    padding: 1rem;
    background-color: blue;
}

.sidebar {

    flex: 0.5;
    padding: 1rem;
    background-color: white;
    background-image: url("src/img/fondo.avif");
}

footer {
    background-image: url("src/img/fondo.avif");
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    /* width: 100%; */
    bottom: 0;
    font-weight: bold;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        align-items: center;
    }

    main {
        flex-direction: column;
    }

    .contenido,
    .sidebar {
        flex: 1;
    }
}


/* CSS */
.button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: white;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}